<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-md-12 information-card">
        <h2>Showing user file upload</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 information-card">
        <%= @file_upload.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 information-card">
        <%= @file_upload.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 information-card">
        <%= @file_upload.file %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Edit', edit_file_upload_path(@user, @file_upload) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Back', file_uploads_path(@user) %>
      </div>
    </div>
  </div>
</div>
